/* Variables */
:root {
  --primary: #1b1a20;
  --secondary: #eabf01;
  --accent: ;
  --textLight: ;
  --textDark: ;
  --background: ;
}

/* Meyers CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Resets */
*,
* ::before,
* ::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  outline: 0;
  border: 0;
  box-shadow: none;
}

/* General */
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: var(--textLight);
  font-weight: 200;
}

/* Container */
.container {
  max-width: 1380px;
  margin: 0 auto;
  width: 100%;
}

/* Flex  */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.align-start {
  align-items: flex-start;
}
.align-around {
  align-items: space-around;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

/* Columns */
.flex-15 {
  flex: 0 1 15%;
}
.flex-20 {
  flex: 0 1 20%;
}
.flex-25 {
  flex: 0 1 25%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-40 {
  flex: 0 1 40%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-65 {
  flex: 0 1 65%;
}
.grow {
  flex: 1 1 auto;
}

/* Padding */
.padding {
  padding: 5rem 0;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  letter-spacing: 0.8px;
  cursor: pointer;
  background-color: var(--primary);
  color: #ffffff;
  transition: all 200ms ease-in-out;
  font-size: 1rem;
  border-radius: 1px;
  font-weight: 300;
  margin-top: 1.3rem;
  width: 100%;
}
.btn:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  background-color: var(--secondary);
}
.btn-primary:hover {
  background-color: var(--secondary);
}

/* Active Link */
.active {
  color: var(--primary);
}

/* Nav and General Links Hover */
a:hover {
  color: var(--primary);
}

/* Full Width */
.width-full {
  width: 100%;
}

/* Headings*/
.heading {
  font-size: 3rem;
  color: var(--textDark);
  margin-bottom: 2rem;
  font-weight: 900;
  text-transform: capitalize;
}
.heading-secondary {
  font-size: 2.2rem;
}

/* Text */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-accent {
  color: var(--accent);
}
.uppercase {
  text-transform: uppercase;
}
.font-0 {
  font-size: 0;
}

/* Clearfix */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* 
1)Common Tags that I forget:
<nav>
<fieldset>
<figure>
<article>
<aside>

2) Use max-width, max-height for images and tables

3) Add viewport meta tag to HTML

4) Code in 'rem'
 */

/* Button */
button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

/* Cart Icon - Main Page */
.main {
  position: relative;
}
.main--cart_icon {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: right;
}
.main--cart_img img {
  background-color: var(--primary);
  padding: 0.8rem;
  border-radius: 3px;
  width: 100%;
}
.main--cart_img {
  position: relative;
  background-color: var(--primary);
}
.main--cart_img img:hover {
  background-color: grey;
}
.cart-number {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--secondary);
  color: black;
  position: absolute;
  right: 10px;
  top: 33px;
  padding: 0.6rem;
  font-size: 0.8rem;
}

/* Main */
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 60px auto;
}

/* Sizes */
.sizes {
  padding-left: 2rem;
}
.sizes h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}
.sizes--list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0;
}
.sizes--list li {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 1.5rem;
}
.sizes--list li button {
  padding: 0.9rem;
  width: 50px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid transparent;
}
.sizes--list li button:hover {
  border: 1px solid black;
}

/* Item Container */
.item_container {
  padding: 4.2rem;
  padding-top: 0;
  padding-left: 0;
}
.item_container--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
}
.item_container--number {
  margin-bottom: 1.5rem;
}

/* Item */
.item--img {
  width: 100%;
  border-radius: 3px;
}
.item {
  text-align: center;
  position: relative;
}

.item h3 {
  padding: 0.5rem;
  padding-bottom: 0.4rem !important;
  font-weight: 400;
  height: 48px;
  margin-bottom: 1rem;
}

.item hr {
  width: 10%;
  background-color: var(--secondary);
  height: 3px;
  margin-bottom: 1rem;
}
.item h2 {
  font-weight: 400;
}
.item h5 {
  margin-top: -5px;
  color: rgb(156, 155, 155);
}
strong {
  font-size: 2rem;
  font-weight: 600;
}
span {
  font-weight: 600;
}

/* Cart */
.cart {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 45%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
  background-color: var(--primary);
  overflow: scroll;
}

.cart-close-icon {
  color: white;
  background-color: var(--primary);
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}
.cart-close {
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: white;
}

.cart h2 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.cart button {
  color: white;
}
.cart-header {
  padding: 2rem;
}

.item_cart h3,
.item_cart h4,
.item_cart h5 {
  color: white;
}

.item_cart h3 {
  font-weight: 500;
}

.item_cart h4,
.item_cart h5 {
  color: rgb(156, 155, 155);
  font-weight: 300;
}

.item_cart img {
  width: 100%;
  max-width: 60px;
  object-fit: cover;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.item_cart--price h3 {
  color: var(--secondary);
  font-weight: 300;
  padding-block: 0.5rem;
}
.item_cart--close {
  color: black;
  font-weight: 800;
  font-size: 1.3rem;
}

.item_cart {
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.item_cart--details {
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.cart_subtotal {
  padding: 2rem 2rem;
}
.cart_subtotal h4,
.cart_subtotal h5 {
  color: rgb(156, 155, 155);
}

.cart_items {
  box-shadow: 0px -5px 13px 2px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -5px 13px 2px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -5px 13px 2px rgba(0, 0, 0, 0.75) inset;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.button_checkout {
  padding: 1rem;
}

.button_decrease {
  background-color: #16151a;
  border-radius: 1px;
}
.button_increase {
  background-color: black;
  border-radius: 1px;
}
.button_checkout button {
  background-color: black;
  margin-top: 0;
  margin-bottom: 3rem;
}

.empty_cart h5 {
  color: white;
  text-align: center;
}

.cart_total {
  text-align: right;
}
.cart_total h4 {
  color: var(--secondary);
  font-size: 1.3rem;
  font-weight: 400;
}

.active {
  background-color: black;
  color: white;
}

.free_shipping {
  position: absolute;
  background-color: black;
  z-index: 1;
  right: 0;
  color: white;
  font-size: 0.6rem;
  padding: 0.2rem 0.5rem;
}

/* Loader  */
